<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Login to continute</h5>
          
          <form class="form-signin" (submit)="loginCheck($event)" >
            <div class="form-label-group">
              <input type="text" id="inputUserame" class="form-control" placeholder="Username" required autofocus >
              <label for="inputUserame">Username</label>
            </div>
            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required >
              <label for="inputPassword">Password</label>
            </div>
              <input class="form-control"  type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe">Remember me</label>
            <p class="text-danger" *ngIf="error">{{error}}</p>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
            <hr class="my-4"> 
            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
