
<section class="wrapper">
  <div class="title-product"> Danh sách sản phẩm </div>
<div class="contain-button">
  
  <div class="cart-contain"><button id="logout" (click)="logOut()" >
    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
    LogOut
  </button>
  </div>
  
    <div class="cart-contain"><button id="cart" (click)="changeShow()" >
        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
        Giỏ Hàng {{lenght}}
    </button>
  </div>
</div>

<app-cart *ngIf="show" ></app-cart>
  
  <div class="products">
      <ul>
         <app-product></app-product>
      </ul>
  </div>
</section>